* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/ed-robertson-eeSdJfLfx1A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;

  padding: 1rem 5rem 0; 

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: min-content;
}

h1 {
  color: white;
  font-size: 3.5rem;
  padding: 0.75rem 4rem;
  margin: 0 auto 1.5rem;
  border: white solid 5px;
  min-width: calc(min-content - 1rem);
  background-color: rgba(0, 0, 0, 0.482);

  text-align: center;
}

#book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;

  margin-bottom: 2rem;
}

.book-card {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: 2px 2px 2px black;
  
  display: grid;
  grid-template-rows: repeat(5, auto) 1fr;
  gap: 0.25rem;
  justify-items: center;
  text-align: center;
  
  height: 100%;
  
  &:hover {
    outline: dodgerblue solid 5px;
  }

  * {
    max-width: 100%;
    text-overflow: ellipsis;
    
    /* from MDN */
    display: -webkit-box;      /* Use WebKit box layout model */
    -webkit-box-orient: vertical; /* Vertical box orientation */
    -webkit-line-clamp: 1;     /* Show only # lines */
    overflow: hidden;          /* Hide the rest of the content */
    text-overflow: ellipsis;   /* Show ellipsis (...) */
  }

  .del-button {
    align-self: end;

    margin: 0 -0.75rem -0.75rem auto;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border-radius: 50%;
    color: black;
    font-weight: 100;
    
    --hw: 1.5rem;
    height: var(--hw);
    width: var(--hw);

    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 1px;

    &:hover {
      outline: none;
      background-color: lightgrey;
    }
  }

  .title {
    font-size: large;
    text-decoration: underline;
    
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  
  .author {
    font-style: italic;
  }
  
  button.haveRead {
    font-weight: bold;
    box-shadow: none;
    padding: 0 0.5rem;
      
    &:hover {
      transform: none;
    }
    
    &.haveReadTrue {
      background-color: green; 
      
      &:hover {
        outline: green solid 2px;
      }
    }
    
    &.haveReadFalse {
      background-color: red;  
      
      &:hover {
        outline: red solid 2px;
      } 
    }
  }
  
  .notes {
    /* from MDN */
    display: -webkit-box;      /* Use WebKit box layout model */
    -webkit-box-orient: vertical; /* Vertical box orientation */
    -webkit-line-clamp: 4;     /* Show only # lines */
    overflow: hidden;          /* Hide the rest of the content */
    text-overflow: ellipsis;   /* Show ellipsis (...) */
  }
}

.button-and-form-section {
  display: grid;

  align-content: start;
  height: 500px;
}

button {
  font-size: large;
  margin: auto;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  background-color: dodgerblue;
  color: white;
  box-shadow: 2px 2px 2px black;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
} 

form {  
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 1rem;

  box-shadow: 2px 2px 2px black;
  min-width: min-content;
  margin: auto;

  fieldset {
    margin: 0.75rem 1.25rem 1.25rem;
    padding: 0;

    display: grid;
  }

  legend {
    font-style: italic;
    margin-left: 1rem;
    padding: 0 0.5rem;
  }

  .form-line {
    padding: 0.5rem 2rem;

    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    justify-content: center;

    label {
      width: 4rem;
      text-align: end;

      &[for="haveRead"] {
        width: fit-content;
      }
    }

    input {
      padding: 0 0.25rem;
      border: gray solid 1px;
      
      &:not([id="haveRead"]) {
        width: 20rem;
      }

      &:hover, &:focus {
        outline: black solid 1px;
        border-radius: 2px;
      }

      &[type='checkbox'] {
        appearance: auto;

        &:hover, &:focus {
          outline: 0;
        }
      }

      &:invalid + span::before {
        content: "X";
        color: red;
        font-weight: bold;
      }

      &:valid + span::before {
        content: "✓";
        color: green;
        font-weight: bold;
      }
    }

    textarea {
      padding: 0 0.25rem;
      margin-right: 1.25rem;

      &:hover, &:focus {
        outline: black solid 1px;
        border-radius: 2px;
      }
    }
  }

  #submit-book-btn {
    justify-self: center;
    margin: 1rem 0 1.5rem;
  }
}

.footer {
  color: white;
  text-align: center;

  a {
    text-decoration: underline;
    
    &:visited {
      color: purple;
    }
  }
}

.hidden {
  display: none;
}